<html>
  <head>
    <title>Contact us</title>
  </head>
  <body>
    <nav>
      <ul type="none" class="navup">
        <li><a href="../index.html">Home</a></li>
        <li><a href="./aboutme.html">About Me</a></li>
        <li><a href="./resume.html">Resume</a></li>
        <li><a href="./contact.html">Contact</a></li>
      </ul>
      <div class="logo">LOGO</div>
      <div class="download"><button>Download Resume</button></div>
      <div class="setting">Setting Logo</div>
    </nav>
    <form action="">
      <h2>Contact Us</h2>
      <label for="fname">First Name:</label>
      <input type="text" id="fname" placeholder="Enter your first name">
      <br>
      <br>

      <label for="lname">Last Name:</label>
      <input type="text" id="lname" placeholder="enter your last name">
      <br>
      <br>
      <label for="email">Email:</label>
      <input type="email" id="email" placeholder="enter your email address">
      <br>
      <br>
      <label for="Phonenum">Phone Number:</label>
      <input type="number" id="Phonenum" placeholder="enter you phone number">
      <br>
      <br>
      <label for="message">Message:</label>
      <textarea name="message" id="message" cols="30" rows="10" placeholder="write the message you want to deliver."></textarea>

    </form>
  </body>
</html>